.header {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f5f5f5;
}

.icon {
  margin-right: 10px;
  cursor: pointer;
}

.text {
  font-size: 1.5rem;
  font-weight: bold;
}

.formBox {
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 50px;
  max-width: 600px;
  background-color: #fff;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.userDetails {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.avatar {
  margin-right: 10px;
}

.username {
  font-size: 1.8rem;
  font-weight: 800;
}

.fileInput {
  margin-top: 15px;
  padding: 10px 0;
}

.imagePreviewContainer {
  margin-top: 10px;
}

.imagePreview {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.submitButton {
  width: 100%;
  padding: 10px;
  background-color: yellow;
}

.scale {
  transform: scale(2);
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
  margin-right: 20px;
}